{% extends "basediebasiscms.html.twig" %}
{% block header %}
    <div>
        <div class="container"><img class="img-fluid" src="{{ content.homepageheaderimage.url }}" alt="dieBasis Image" />
            <div>
                <div class="row">
                    <div class="col">
                        <div class="text-center">
                            <h3><strong>{{ content.homepageheadline }}</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="text-center">
                            <h4><strong>{{ content.homepagesubline }}</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block swiper %}
    {#    {{ dump(content) }}#}
    {% if content.showslider and content.sliderbilder %}
        <div class="container mb-4 mt-4">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for sliderbild in content.sliderbilder %}
                        {% if loop.first %}
                            <div class="swiper-slide div-swipe"><img class="img-fluid" src="{{ sliderbild.sliderimage.url }}" alt="{{ sliderbild.sliderimagealttext }}" loading="lazy" />
                                <div>
                                    <p class="image-text-button-center" style="font-size: {{ sliderbild.sliderimagetextsize }}px; color: {{ sliderbild.sliderimagetextcolor }}">{{ sliderbild.sliderimagetext }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="swiper-slide"><img class="img-fluid" src="{{ sliderbild.sliderimage.url }}" alt="{{ sliderbild.sliderimagealttext }}" />
                                <div>
                                    <p class="image-text-button-center" style="font-size: {{ sliderbild.sliderimagetextsize }}px; color: {{ sliderbild.sliderimagetextcolor }}">{{ sliderbild.sliderimagetext }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
{#    {{ dump(content) }}#}
<div class="d-flex">
        <article class="article">
            <div>
                <section id="kampagne" class="mt-5 mb-5" style="background-color: {{ content.homepageaktuellcolor }}">
                    {% for homepageartikel in content.homepageartikelblock  %}
                        {% set ha = homepageartikel %}
                    <div class="text-center">
                        <h2>{{ ha.homepageaktuellheadline }}</h2>
                        <hr class="hr-line"/>
                    </div>
                    <div class="container main-wrap">
                        <div class="row">
                            <div class="col">
                                <div>
                                    {% if ha.homepageartikelimage %}
                                    <img class="{{ ha.homepageartikelimagealign }} {% if ha.shadow %}image-kampagne{% endif %}"
                                         style="width:{{ ha.homepageartikelimagewidth }}%;margin-right: {{ ha.homepageartikelimagemarginright }}px;margin-top: {{ ha.homepageartikelimagemargintop }}px;"
                                         src="{{ ha.homepageartikelimage.url }}" alt="{{ ha.alttext }}"/>
                                    {% endif %}

                                    {{ ha.homepageaktuellsubline|raw }}
                                </div>
                            </div>
                        </div>
                        {% if not loop.last %}
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </section>
                <section id="gruendung-1">
                    {% for artikel in content.blockartikel %}
                        <div class="text-center">
                            {% if artikel.homepageartikelimage %}
                                <div>
                                    <img src={{ artikel.homepageartikelimage.url }} style="width:{{ artikel.homepageartikelimagesize }}px;
                                         alt="{{ artikel.homepageartikelimagealt }}"/>
                                </div>
                            {% endif %}
                            <h2 data-aos="fade-up" data-aos-duration="500"
                                style="color: rgba(33,37,41,0.71);padding-top: 30px;">
                                {{ artikel.homepageartikelheadline }}
                            </h2>
                            <hr class="hr-line" data-aos="fade" data-aos-duration="500" data-aos-delay="200"/>
                        </div>
                        <div class="text-center">
                            <h4 data-aos="fade-up" data-aos-duration="500"
                                style="color: rgba(33,37,41,0.71);">
                                {{ artikel.homepageartikelsubline }}
                            </h4>
                        </div>
                        <div class="container main-wrap">
                            <div class="row">
                                <div class="col">
                                    <div>
                                        {{ artikel.homepageartikelsubtext|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </article>
        {% if content.sidebarsichtbar and content.sidebarinhalt %}
            <aside class="sidebar">
                {% set sidebarinhalte = content.sidebarinhalt %}
                <div class="component">
                    <div class="content">
                        <section id="sidebar">
                            <div class="itemslist mt-5">
                                {% for sidebarinhalt in sidebarinhalte %}
                                    <a href="{{ sidebarinhalt.sidebarlink }}" target="{{ sidebarinhalt.sidebarlinktarget }}">
                                        <figure class="figure item"><img class="img-fluid figure-img" src="{{ sidebarinhalt.sidebarimage.url }}" alt="{{ sidebarinhalt.sidebarimagealttext }}"/>
                                            <figcaption class="figure-caption">{{ sidebarinhalt.sidebartext|raw }}</figcaption>
                                        </figure>
                                    </a>
                                {% endfor %}
                            </div>
                        </section>

                    </div>
                </div>
            </aside>
        {% endif %}
</div>
{% endblock %}



{% block footer %}
{% set footer_snippet = sulu_snippet_load_by_area('footer_diebasis') %}
<div class="container footerdiebasis">
    <div class="row">
        <div class="col text-center">
            <h4>{{ footer_snippet.content.title }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <p class="mb-0">{{ footer_snippet.content.subtitle2 }}<br><br>{{ footer_snippet.content.subtitle1 }}<br>{{ footer_snippet.content.subtitle3 }}<br><strong>IBAN:</strong>
                    {{ footer_snippet.content.iban }}<br><strong>BIC:</strong>&nbsp;{{ footer_snippet.content.bic }}</p>
            </div>
        </div>
    </div>
    <div class="col">
        <h3 class="footer-heading">{{ footer_snippet.content.lastline }}</h3>
        <div>
            <div class="col social-media-icons">
                <a class="social-media-icons-padding" href="https://telegram.me/die_basis_funkt" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="text-end" href="/">
                <p class="copyright">{{ footer_snippet.content.copyright }}</p>
            </a>
        </div>
        <div class="col">
            <div class="copyright text-start">
                <a class="me-1" href="impressum.html">Impressum</a>
                <a class="ms-1" href="datenschutz.html">Datenschutz</a>
            </div>
        </div>
    </div>
{#        {{ dump(footer_snippet.content) }}#}
</div>
{# Zeile am Ende einfügen #}
<div class="row mt-1"></div>
<div>
    <a class="back-to-top hvr-back-pulse" href="#">
        <i class="fa fa-angle-up" style="color: rgb(37,178,231);"></i>
    </a>
</div>

{% endblock %}

