{% extends "basediebasiscms.html.twig" %}

{% block content %}

	<body>
		<div class="container">
			<a class="navbar-brand" href="/"><img class="bannerkontakt" src="/assets/img/bannerkontakt.svg"></a>
		</div>
		<section id="contact-1" class="py-5">
			<div class="container-fluid py-3">
				<div class="row justify-content-center align-items-center position-relative">
					<div class="col">
						<div class="div-map">
							<iframe allowfullscreen="" frameborder="0" src="https://datawrapper.dwcdn.net/TBZAV/4/" id="datawrapper-chart-ksHDU" width="100%" height="740"></iframe>
						</div>
					</div>
					<div class="col-md-6 col-lg-5 col-xl-4 position-absolute">
						<form class="bg-white shadow-sm p-4 rounded" id="contactform" method="post" action="kontakt.php">
							<div>
								<h4>Kontakt aufnehmen</h4>
							</div>
							<div class="mb-3">
								<label class="form-label">meine Email</label><input class="form-control" type="email" required="" inputmode="email" name="email"></div>
							<div class="mb-4">
								<label class="form-label">Nachricht</label>
								<textarea class="form-control" required="" rows="4" name="nachricht"></textarea>
							</div>
							<div>
								<button class="btn btn-primary w-100 mb-2" type="submit">Senden</button>
								<p class="text-center">
									<small class="text-black-50">Die Zukunft ist da, wohin Du gehst.<br></small>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>

{% endblock %}
