{% extends "basediebasiscms.html.twig" %}
{% block content %}

    <section id="contact-1" class="py-5">
        <div class="container-fluid py-3">
            <div class="row justify-content-center align-items-center position-relative">
                <div class="col">
                    <div class="div-map">
                        <iframe allowfullscreen="" src="https://datawrapper.dwcdn.net/TBZAV/4/"
                                id="datawrapper-chart-ksHDU" width="100%" height="740"></iframe>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-4 position-absolute">
                    {{ form_start(kontaktformular) }}
                    <div>
                        <h4>Kontakt aufnehmen</h4>
                    </div>
                    <div class="mb-3">
                        {{ form_label(kontaktformular.email) }}
                        {{ form_widget(kontaktformular.email, {'attr': {'class':'col-12'}}) }}
                    </div>
                    <div class="mb-4">
                        {{ form_label(kontaktformular.nachricht) }}
                        {{ form_widget(kontaktformular.nachricht, {'attr': {'class':'col-12'}}) }}
{#                        <label class="form-label">Nachricht</label>#}
{#                        <textarea class="form-control" required="" rows="4" name="nachricht"></textarea>#}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {{ form_row(kontaktformular.senden, {'attr':{'class':'btn btn-primary','style':'width:100%'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(kontaktformular.abbruch, {'attr':{'class':'btn btn-primary','style':'width:100%'}}) }}
                        </div>

{#                        <button class="btn btn-primary w-100 mb-2" type="submit">Senden</button>#}

                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(kontaktformular.reset, {'attr':{'class':'btn btn-warning' }}) }}
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <p class="text-center">
                                <small class="text-black-50">Die Zukunft ist da, wohin Du gehst.<br></small>
                            </p>
                        </div>
                    </div>
                    {{ form_end(kontaktformular) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}