{% extends "basediebasiscms.html.twig" %}

{% block content %}
{#{{ dump() }}#}
<section id="kontaktheader" class="m-0">
	<div class="container w-25">
		<img src="{{ asset('assets/img/HG-Header-20220429-v1.svg') }}">
	</div>
</section>
<section id="contact-1" class="pb-5 pt-0">
	{{ form_start(kontaktformular) }}
	<div class="container w-50 mt-4 mb-3 pb-2 kontakt-background border rounded-2">
		<div class="row pt-4 pb-4">
			<div class="col">
				<h4>Kontakt dieBasis</h4>
			</div>
		</div>

		<div class="row mb-2">
			<div class="col">
				{{ form_label(kontaktformular.anrede, '', {
					'label_attr': {'class': 'col-3'}
				}) }}
				{{ form_widget(kontaktformular.anrede, {'attr': {'class':'col-8'}}) }}
			</div>
		</div>
		<div class="row mb-2">
			<div class="col">
				{{ form_label(kontaktformular.vorname, '', {
					'label_attr': {'class': 'col-3'}
				}) }}
				{{ form_widget(kontaktformular.vorname, {'attr': {'class':'col-8'}}) }}
			</div>
		</div>
		<div class="row mb-2">
			<div class="col">
				{{ form_label(kontaktformular.nachname, '', {
					'label_attr': {'class': 'col-3'}
				}) }}
				{{ form_widget(kontaktformular.nachname, {'attr': {'class':'col-8'}}) }}
			</div>
		</div>
		<div class="row mb-2">
			<div class="col">
				{{ form_label(kontaktformular.telefon, '', {
					'label_attr': {'class': 'col-3'}
				}) }}
				{{ form_widget(kontaktformular.telefon, {'attr': {'class':'col-8'}}) }}
			</div>
		</div>
		<div class="row mb-2">
			<div class="col">
				{{ form_label(kontaktformular.email, '', {
					'label_attr': {'class': 'col-3'}
				}) }}
				{{ form_widget(kontaktformular.email, {'attr': {'class':'col-8'}}) }}
			</div>
		</div>
		<div class="row mb-2">
			<div class="col">
				{{ form_label(kontaktformular.nachricht, '', {
					'label_attr': {'class': 'col-3 align-top'}
				}) }}
				{{ form_widget(kontaktformular.nachricht, {'attr': {'class':'col-8'}}) }}
			</div>
		</div>
	</div>
	<div class="container w-50">
		<div class="row">
			<div class="col has-text-align-center">
				{{ form_label(kontaktformular.senden) }}
				{{ form_widget(kontaktformular.senden,
					{'attr':{'class':'btn btn-primary'}})
				}}
			</div>
			<div class="col has-text-align-center">
				{{ form_label(kontaktformular.abbruch) }}
				{{ form_widget(kontaktformular.abbruch,
					{'attr':{'class':'btn btn-warning'}})
				}}
			</div>
		</div>

	</div>
	{{ form_end(kontaktformular) }}
</section>

{% endblock %}
