{% extends "basediebasiscms.html.twig" %}
{% block content %}

	{#  #}
	<div class="table-responsive d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center mt-4">
		<table class="table" style="width:50%">
			<tbody>
				<tr>
					<td class="mt-4" style="border-width: 1px;">
						<h2 style="font-weight:700" class="text-center">{{ content.title }}</h2>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container mt-4 mb-4">
		<h3 class="text-center">
			<strong>{{ content.subtitle }}</strong>
		</h3>
        {% if content.subsubtitle %}
            <h4 class="text-center mt-4 mb-4">
			<strong>{{ content.subsubtitle }}</strong>
		</h4>
        {% endif %}
		
	</div>
    {% if content.image %}
    {% set border = content.border %}
    {% set borderwidth = content.borderwidth %}
    {% set bordercolor = content.color %}
    {% set borderclasswidth = "border border-%s"|format(borderwidth) %}
    {% set borderclasscolor =  "border-%s"|format(bordercolor) %}
    
    {% set borderclass = "%s %s"|format(borderclasswidth, borderclasscolor) %}
    {% if not content.border %}
        {% set borderclass = null %}
    {% endif %}
        <div class="container mt-4 mb-4">
		<div class="row">
			<div class="col text-center">
				<img class="{{ borderclass }}" src="{{ content.image.thumbnails['300x'] }}" alt="{{ content.alt_bildtext }}"/>
			</div>
		</div>
		<div class="row">
			<div class="mt-4">
				{{ content.untertitel|raw }}
			</div>
		</div>
	</div>
    {% endif %}
	
	<div class="container mt-4 mb-4">
		<div class="row">
			<div class="col">
				{{ content.haupttext|raw }}
			</div>
		</div>
	</div>

{% endblock %}
