{% extends "basediebasiscms.html.twig" %}

{% block content %}
	<body>
		<div class="container mt-5 mb-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<h4>dieBasis news</h4>
					<ul class="timeline">
                        {% for zeitleiste in content.news|sort((a,b) => a.datum <= b.datum) %}
                            <li>
                            <div>
							<p class="mb-1 fw-bolder">{{ zeitleiste.datum }} {{ zeitleiste.timelineheadline }}</p>
                            </div>
							<div>
								<p>{{ zeitleiste.timelinesubline }}</p>
							</div>
						</li>
                        {% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
