<!doctype html>
<html lang="en">
<head>
    <title>Basic Form</title>
</head>
<body>
<h1>Nachricht aus Kontaktformular</h1>
{% for field in formEntity.fields|default([]) -%}
    {%- set value = field.value -%}
    {# get formatted value. #}
    {%- if value is iterable -%}
        {%- if field.type == 'attachment' -%}
            {%- set mediaUrls = [] -%}
            {%- for mediaId in field.value -%}
                {%- set media = sulu_resolve_media(mediaId, app.request.locale) -%}
                {%- set mediaUrls = mediaUrls|merge(['<a href="' ~ absolute_url(media.url) ~ '">' ~ media.title ~ '</a>']) -%}
            {%- endfor -%}
            {%- set value -%}
                {{- mediaUrls|join(', ')|raw -}}
            {%- endset -%}
        {%- else -%}
            {%- set value = value|json_encode -%}
        {%- endif -%}
    {%- elseif value.timestamp is defined -%}
        {% set value = value|date('d.m.Y') -%}
    {%- else -%}
        {%- set value -%}
            {{- value|nl2br -}}
        {%- endset -%}
    {%- endif -%}

    {%- if value is not empty and field.value is not empty -%}
        {#- fix breaks #}
        <strong>{{ field.shortTitle|default(field.title)|raw }}</strong>: {{ value }}<br>
    {% endif %}
{% endfor %}
</body>
</html>