<!doctype html>
<html lang="en">
<head>
    <title>E-Mail Formular</title>
</head>

<body>
{% set firstName = null %}
{% for field in formEntity.fields|default([]) -%}
    {% if field.key == 'firstName' %}
        {% set firstName = field.value %}
    {% endif %}
{% endfor %}

<h3>Vielen Dank {{ firstName }}</h3>
<br>
<h4>Ich werde schnellstmögilich auf die Anfrage antworten</h4>
<div class="container">
    <div class="row">
        <div class="col">
            {% if formEntity['mailText'] %}
                {{ formEntity['mailText']|raw }}
            {% else %}
                <p>Mit friedlichen Grüßen</p>
            {% endif %}

            <img src="{{ absolute_url(asset('/assets/img/emaifooter-120.svg')) }}" alt="Logo dieBasis" style="width: 120px">

        </div>
    </div>

</div>

</body>
</html>