{#{% apply inline_css(source('@styles/bootstrap.min.css')) %}#}
{% extends "basediebasiscms.html.twig" %}
{% block content %}
{#    {{ dump(kontaktdaten) }}#}
    {% set formdaten = kontaktdaten.kontaktdiebasis %}
{#<body>#}
    <div>
        <div class="row mt-4">
            <div class="col"><img class="img-fluid" src="{{ absolute_url('assets/img/HG-Header-20220429-v1.svg') }}" style="margin-left: 30%;margin-right: 30%;" /></div>
        </div>
    </div>
    <div class="mb-4 mt-4 bg-light rounded-3 border shadow m-5">
        <div class="container-fluid py-5 m-2">
            <h1 class="display-5 fw-bold text-center">Vielen Dank {{ formdaten.vorname }}</h1>
            <p class="mt-4 mb-4">Die Anfrage wurde erfolgreich versendet.<br />Wir setzen uns schnellstmöglich mit Ihnen in Verbindung.</p>
            <div style="text-align: center;">
                <a href="/" class="btn btn-primary btn-lg mt-5" role="button">Home</a>
            </div>
        </div>
    </div>
{#</body>#}
{% endblock %}
{#{% endapply %}#}