<!doctype html>
<html lang="en">
<head>
    <title>E-Mail Formular</title>
</head>
<body>
<h3>Vielen Dank</h3>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Mit friedlichen Grüßen</p>
            <img src="{{ absolute_url('assets/img/emaifooter-120.svg') }}" style="width: 120px">
            <p>Oben sollte das Bild zu sehen sein</p>
        </div>
    </div>
</div>
</body>
</html>