{% apply inline_css(source('@styles/bootstrap.min.css')) %}
    <body>
        <div>
            <div class="row">
                <div class="col text-center mt-5">
                    <img class="img-fluid" src="{{ email.image('@images/emailfooter-120.svg') }}" alt="Logo dieBasis" style="width: 240px">
                </div>
            </div>
        </div>
    {#    {{ dump(daten) }}#}
        <div class="mb-4 mt-4 bg-light rounded-3 border shadow m-5">
            <div class="container-fluid py-5 m-2">
                <h1 class="display-5 fw-bold text-center">Vielen Dank {{ daten.vorname }}</h1>
                <p class="mt-4 mb-4">Eine Anfrage über das Kontaktformular</p>
                <br/>
                <p>Absender:</p>
                <p>{{ daten.email }}</p>
                <br/>
                <p>Bitte umgehend bei dem Absender melden!</p>
            </div>
        </div>
        <div class="mb-4 mt-4 bg-light rounded-3 m-5">
            <div class="container-fluid py-5 m-2">
                <p class="text-center fw-bold text-decoration-underline">Diese Nachricht wurde uns übermittelt:</p>
                <p>{{ daten.nachricht|raw }}</p>
            </div>
        </div>
        <div class="mb-4 mt-4 m-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="{{ email.image('@images/emailfooter-120.svg') }}" alt="Logo dieBasis" style="width: 120px">
                    </div>
                </div>
            </div>
        </div>

    </body>
{% endapply %}