/* !
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass. */

/* 2D TRANSITIONS */

/* Grow */

/* Shrink */

/* Pulse */

/* Pulse Grow */

/* Pulse Shrink */

/* Push */

/* Pop */

/* Bounce In */

/* Bounce Out */

/* Rotate */

/* Grow Rotate */

/* Float */

/* Sink */

/* Bob */

/* Hang */

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-hang, .hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Skew */

/* Skew Forward */

/* Skew Backward */

/* Wobble Vertical */

/* Wobble Horizontal */

/* Wobble To Bottom Right */

/* Wobble To Top Right */

/* Wobble Top */

/* Wobble Bottom */

/* Wobble Skew */

/* Buzz */

/* Buzz Out */

/* Forward */

/* Backward */

/* BACKGROUND TRANSITIONS */

/* Fade */

/* Back Pulse */

.hvr-back-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}

/* Sweep To Right */

/* Sweep To Left */

/* Sweep To Bottom */

/* Sweep To Top */

/* Bounce To Right */

/* Bounce To Left */

/* Bounce To Bottom */

/* Bounce To Top */

/* Radial Out */

/* Radial In */

/* Rectangle In */

/* Rectangle Out */

/* Shutter In Horizontal */

/* Shutter Out Horizontal */

/* Shutter In Vertical */

/* Shutter Out Vertical */

/* BORDER TRANSITIONS */

/* Border Fade */

/* Hollow */

/* Trim */

/* Ripple Out */

/* Ripple In */

/* Outline Out */

/* Outline In */

/* Round Corners */

/* Underline From Left */

/* Underline From Center */

/* Underline From Right */

/* Overline From Left */

/* Overline From Center */

/* Overline From Right */

/* Reveal */

/* Underline Reveal */

/* Overline Reveal */

/* SHADOW/GLOW TRANSITIONS */

/* Glow */

/* Shadow */

/* Grow Shadow */

/* Box Shadow Outset */

/* Box Shadow Inset */

/* Float Shadow */

/* Shadow Radial */

/* SPEECH BUBBLES */

/* Bubble Top */

/* Bubble Right */

/* Bubble Bottom */

/* Bubble Left */

/* Bubble Float Top */

/* Bubble Float Right */

/* Bubble Float Bottom */

/* Bubble Float Left */

/* ICONS */

/* Icon Back */

/* Icon Forward */

/* Icon Down */

/* Icon Down */

/* Icon Up */

/* Icon Up */

/* Icon Spin */

/* Icon Drop */

/* Icon Drop */

/* Icon Fade */

/* Icon Float Away */

/* Icon Float Away */

/* Icon Sink Away */

/* Icon Sink Away */

/* Icon Grow */

/* Icon Shrink */

/* Icon Pulse */

/* Icon Pulse Grow */

/* Icon Pulse Shrink */

/* Icon Push */

/* Icon Pop */

/* Icon Bounce */

/* Icon Rotate */

/* Icon Grow Rotate */

/* Icon Float */

/* Icon Sink */

/* Icon Bob */

/* Icon Hang */

/* Icon Wobble Horizontal */

/* Icon Wobble Vertical */

/* Icon Buzz */

/* Icon Buzz Out */

/* CURLS */

/* Curl Top Left */

/* Curl Top Right */

/* Curl Bottom Right */

/* Curl Bottom Left */

/* # sourceMappingURL=hover.css.map */

