:root {
  --space: 2rem;
  --space-xxs: calc(var(--space) / 4);
  --space-xs: calc(var(--space) / 3);
  --space-sm: calc(var(--space) / 2);
  --space-md: calc(var(--space) * 2);
  --color-primary: lightgray;
  --color-accent: whitesmoke;
  --color-dark: black;
  --color-mid: gray;
  --color-light: white;
  --color-hightlight: dodgerblue;
  --radius: 0.125rem;
}

* {
  box-sizing: border-box;
}

.article {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.sidebar {
  --offset: var(--space);
  flex-grow: 1;
  flex-basis: 240px;
  align-self: start;
  position: sticky;
  top: var(--offset);
  /*margin-left: 1rem;*/
}

.component {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.component .content {
  /*max-height: 500px;*/
  overflow-y: auto;
}

.sidebar .component {
  max-height: calc(100vh - var(--offset) * 2);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0 var(--space);
  max-width: 1400px;
}

h2 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  line-height: 1.2;
  font-weight: 600;
}

p {
  max-width: 100%;
  font-size: clamp(1rem,4vw,1.25rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-xs) 0;
  padding: var(--space);
}

main {
  margin-bottom: calc(var(--space-md) * -1);
  margin-left: calc(var(--space-md) * -1);
}

main > * {
  margin-bottom: var(--space-md);
  margin-left: var(--space-md);
}

.article > * + * {
  margin-top: var(--space);
}

.component {
  position: relative;
  /*border: 1px solid var(--color-primary);*/
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03), 0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);*/
}

@media (min-width: 1400px) {
  .component .content {
    max-height: 1000px;
}
}
@media (max-width: 1200px) {
  .component .content {
    max-height: 900px;
  }
}
@media (max-width: 992px) {
  .component .content {
    max-height: 500px;
  }
}
.component .content {
  /*max-height: 500px;*/
  overflow-y: auto;
  color: var(--color-dark);
}

.empty-text > p{
  margin-bottom: 0;
}

.empty-text{
  padding: calc(var(--space) * 0.5) 0 0 0;
  color: var(--color-mid);
}

@media (min-width: 768px) {
  .sidebar {
    margin-left: 1.00rem;
  }
}

@media (max-width: 700px) {
  .sidebar {
    margin-left: 5rem;
  }
}

@media (max-width: 600px) {
  .sidebar {
    margin-left: 4rem;
  }
}

@media (max-width: 360px) {
  .sidebar {
    margin-left: 4rem;
  }
}

.list > * + * {
  margin-top: var(--space-xs);
}

.list .item {
  padding: var(--space-sm);
}

.list .item::before {
  content: "×";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: var(--space-sm);
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: var(--color-primary);
  pointer-events: none;
}

.list .thumbnail {
  --size: 50px;
  margin-right: var(--space-sm);
}

.item {
  position: relative;
  appearance: none;
  /*display: flex;*/
  align-items: center;
  padding-top: var(--space-xxs);
  padding-left: var(--space-xxs);
  padding-right: var(--space-xxs);
  outline: none;
  width: 100%;
  /*background-color: var(--color-accent);*/
  /*border: 1px solid var(--color-accent);*/
  border-radius: var(--radius);
  cursor: pointer;
}

.item:active {
  transform: translateY(1px);
}

.item:focus {
  outline: 2px solid var(--color-hightlight);
}

.item > * {
  pointer-events: none;
}

.itemslist {
  padding: 0;
  margin: var(--space-xxs);
}

.figure {
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 1em;
}
