/* Globale Variablen */
:root {
  --div-border-color: #e1e8ed;
  --div-border-style: solid;
  --div-border-width: 1px;
  --div-border_height: 45px;
  --div-padding: .7em 1em;
  --div-margin-vertical-horizontal: 10px 10px;
  --box-shadow: 0 0 4px #cccccc;
}

.has-text-align-center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #4a4949;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

/* line sections header */

.hr-line {
  margin-top: 1rem;
  margin-bottom: 0rem;
  border-top: 3px solid #494a4a;
  width: 148px;
  display: inline-block;
  box-shadow: var(--box-shadow);
}

/* standard container */

.main-wrap {
  margin: auto;
  overflow: hidden;
  padding: 25px 20px;
  font-size: 18px;
}

/* text Säulen */

.text-trennung-auto {
  hyphens: auto;
  -webkit-hyphens: auto;
}

.text-saeulen {
  color: var(--bs-light);
  font-size: 18px;
  text-align: left;
}

@media (max-width: 380px) {
  .text-saeulen {
    min-height: 344px;
  }
}

@media (min-width: 380px) {
  .text-saeulen {
    min-height: 410px;
  }
}

@media (min-width: 600px) {
  .text-saeulen {
    min-height: 358px;
  }
}

@media (min-width: 768px) {
  .text-saeulen {
    min-height: 293px;
  }
}

@media (min-width: 992px) {
  .text-saeulen {
    min-height: 494px;
  }
}

@media (min-width: 1200px) {
  .text-saeulen {
    min-height: 370px;
  }
}

.section-lv-dhni {
  margin-top: 21px;
}

/* section Unser Team */

.team {
  background-color: #fff;
  padding: 30px;
}

.team .member .social {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.7s;
  text-align: center;
  background: rgba(255,135,34,0.7);
}

.team .member .social a {
  transition: color 0.3s;
  color: #000000;
  margin: 0 10px;
  padding-top: 10px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #ffffff;
  margin: 0 10px;
  padding-top: 10px;
  display: inline-block;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 20px 15px;
}

.team .member .member-info .member-title {
  font-weight: 700;
  font-size: 18px;
  color: #000;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,0.15);
}

.team .member:hover .social {
  opacity: 1;
}

@media (max-width: 600px) {
  .column-header {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .column-header {
    margin-top: 84px;
  }
}

@media (min-width: 992px) {
  .column-header {
    margin-top: 160px;
  }
}

@media (min-width: 1200px) {
  .column-header {
    margin-top: 282px;
  }
}

@media (min-width: 1400px) {
  .column-header {
    margin-top: 346px;
  }
}

@media (min-width: 1800px) {
  .column-header {
    margin-top: 600px;
  }
}

.header-main-title {
  color: var(--bs-light);
  font-size: 48px;
  text-shadow: 4px 2px 4px var(--bs-gray-dark);
  hyphens: auto;
  -webkit-hyphens: auto;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: rgba(37,178,231,0.13);
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  align-content: center;
  padding-top: 3px;
  border: 1px solid rgb(37,178,231);
  border-radius: 50%;
  /*border-color: rgb(37,178,231);*/
  /*border-style: solid;*/
}

.back-to-top:hover {
  border: solid 1px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: rgba(37,178,231,0.32);
  width: 40px;
  height: 40px;
  align-items: center;
  text-align: center;
  align-content: center;
  padding-top: 3px;
}

.fa.fa-angle-up {
  font-size: 30px;
  color: #fff;
}

.footer-heading {
  text-align: center;
}

.footerdiebasis {
  margin-top: 24px;
  padding-top: 12px;
  color: #000000;
  background-color: #8bcbbd;
  box-shadow: var(--box-shadow);
}

.footerdiebasis p {
  font-size: 14px;
}

.footerdiebasis h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}

.footerdiebasis h4 {
  margin-bottom: 0;
}

.social-media-icons {
  text-align: center;
  font-size: 28px;
}

.social-media-icons-padding {
  padding: 12px;
}

@media (min-width: 576px) {
  .paypal-btn {
    width: 57%;
    border: 0;
    margin-left: 40px;
  }
}

@media (max-width: 380px) {
  .paypal-btn {
    width: 57%;
    border: 0;
    margin-left: 30px;
  }
}

.paypal-img {
  width: 50%;
}

.paypal-frm {
  margin-top: 10px;
}

.impressum {
  text-align: left;
  padding-top: 24px;
  opacity: 0.75;
  font-size: 13px;
  margin-bottom: 0;
}

#contactform {
  background-color: rgba(255,255,255,0.48) !important;
}

.bannerkontakt {
  margin-top: 1rem;
}

.div-map {
  padding-left: 2rem;
  padding-right: 2rem;
}

.heading-wir-stehen-fuer {
  margin-bottom: .3rem;
  font-size: 1.2rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.column-header .header-elements .lead strong {
  color: var(--bs-light);
  text-shadow: 2px 2px 2px var(--bs-secondary);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #4a4949;
  font-weight: 400;
}

.p-fett {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
}

.header-top {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.p-maintext {
  font-size: 20px;
}

.p-fett.p-header-small {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.systemisches-konsensieren {
  padding-bottom: 5em;
}

.div-heading .heading-bolder {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 24px;
}

.div-aufzaehlung .heading-bolder {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
}

.div-aufzaehlung .p-inhalt {
  font-size: 16px;
  padding-left: 1.5em;
}

.p-semiheader {
  font-size: 17px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.heading-bolder-small {
  font-family: 'Open Sans', serif;
  font-weight: 1000;
  font-size: 22px;
}

.section-wir-wollen-dich {
  margin-top: 1.5em;
}

.kandidaten {
  box-shadow: 2px 2px 10px 1px rgba(73,74,74,0.6);
}

.kandidaten.img-border {
  border-width: 0;
  border-style: solid;
  border-radius: 10px;
}

.member-img.div-img-center {
  text-align: center;
}

.team .heading-center {
  text-align: center;
}

.div-img-flex {
  display: inline-flex;
  padding: 8px;
}

.div-list-padding {
  padding-left: 2.5em;
}

.video {
  border-radius: 10px;
  border: 1px solid #4a4949;
  box-shadow: 2px 2px 12px #4a49495f;
  width: 100%;
}

.col-video {
  margin-bottom: 0.25em;
  flex-basis: 60%;
  align-self: flex-start;
  width: 100%;
  flex-grow: 0;
}

.col-text {
  flex-basis: 40%;
}

.heading-center-text {
  text-align: center;
  margin: 1em 1em 1em 1em;
}

.row-has-background {
  background: #e3e4e4;
}

.col-has-margin-top {
  margin-top: 0.25em;
}

.inside-col-has.margin {
  margin: 2em 1em;
}

.marquee a:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  max-width: 100vw;
  white-space: nowrap;
  overflow: hidden;
  font-size: 3em;
  text-shadow: 1px 1px 5px #9f9f9f;
  background-color: rgba(201,201,201,0.15);
}

.marquee span:hover {
  animation-play-state: paused;
}

.marquee span {
  display: inline-block;
  padding-left: 105%;
  animation: marquee 10s linear infinite;
}

.container-lauftext {
  max-width: 100%;
  margin-top: 1%;
}

.marquee a {
  color: #cb0000;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085a1;
}

.post-preview .post-title:hover {
  color: #2098d1;
}

.post-preview, a {
  text-decoration: none;
}

.vorstand2022 {
  width: 1024px;
  height: 600px;
  object-fit: contain;
}

.column-header p {
  color: #ffffff;
  text-shadow: 1px 1px #4a4a4a;
}

.row-header-background {
  height: 654px;
}

@media (max-width: 1200px) {
  .row-header-background {
    height: 564px;
  }
}

@media (max-width: 992px) {
  .row-header-background {
    height: 468px;
  }
}

@media (max-width: 768px) {
  .row-header-background {
    height: 352px;
  }
}

.dropdown-content.dropdown-style {
  background: rgba(255,255,255,0.48);
  border-style: none;
}

.section-arbeitsgruppe {
  background: #fcfcfc;
}

.blogtext {
  color: #4a4949;
}

.headline > h2 {
  border: 4px solid #e3e4e4;
  padding: 10px 10px;
}

.block-column-10 {
  flex-basis: 10%;
}

img {
  vertical-align: middle;
}

.artikel-image .image-fload-left {
  float: left;
  margin: 10px;
}

.artikel-image .artikel-text {
  text-align: justify;
}

.artikel-subline {
  font-size: 14px;
}

.artikel-headline {
  font-family: 'Open Sans SemiBold', serif;
}

.artikel {
  box-shadow: 0 2px 15px #bebebe;
}

.diebasis-navbar {
  background: rgba(240,236,227,0.49);
}

@media (min-width: 768px) {
  .diebasis-navbar {
    padding-right: 90px;
  }
}

.light-border {
  border-style: var(--div-border-style);
  border-color: var(--div-border-color);
  border-width: var(--div-border-width);
  height: var(--div-border_height);
  margin: var(--div-margin-vertical-horizontal);
}

.td-border {
  border-style: var(--div-border-style);
}

.bilder-in-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40vh 30vh 30vh;
  grid-gap: 10px;
  grid-template-areas: "info    photo photo photo   photo" "comment photo photo photo   photo" "comment tag     tag   album rotate"
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 15vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--1 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.kontakt-background {
  background-color: rgba(135, 196, 183, 0.27);
}

.section-navbar-fixed {
  margin-bottom: 70px;
}
/* Text in Image Bottom center */
.image-text-button-center {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
}

.figure-caption > p {
  font-size: 12px;
}

#kampagne {
  box-shadow: var(--box-shadow);
}

#besucherzaehler {
  display: contents;
}

.image-kampagne {
  box-shadow: var(--box-shadow);
}

