<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:url" content="https://www.diebasis-diepholz-nienburg.de">
		<meta property="og:title" content="dieBasis">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/assets/img/LogoNavbar.png">
		<meta name="description" content="Partei dieBasis Kreisverband Diepholz Nienburg">
		{% block meta %}
			{% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            
        } %}
		{% endblock %}

		{% block style %}
			<link rel="icon" type="image/png" sizes="300x300" href="/assets/img/IconWeb.png">
			<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&amp;display=swap">
			<link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
			<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
			<link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
			<link rel="stylesheet" href="/assets/css/Footer-Dark.css">
			<link rel="stylesheet" href="/assets/css/hover.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
			<link rel="stylesheet" href="/assets/css/lightbox.css">
			<link rel="stylesheet" href="/assets/css/Newsletter-Subscription-Form.css">
			<link rel="stylesheet" href="/assets/css/styles.css">
			<link rel="stylesheet" href="/assets/css/timeline.css">
		{% endblock %}
	</head>
	<body>
		<section id="diebasisnavbar">
			<nav class="navbar navbar-light navbar-expand-md diebasis-navbar" style="background: rgba(240,236,227,0.49);">
				<div class="container-fluid">
					<a class="navbar-brand pt-0 pb-0" href="/">
						<div><img src="/assets/img/dieBasis-LOGO-kv-diepholz-nienburg.svg" style="width: 150px;"></div>
					</a>
					<button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
						<span class="visually-hidden">Toggle navigation</span>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navcol-2">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a class="nav-link active scrollto" href="/">HOME</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-nowrap scrollto" href="/#wir-stehen-fuer">DER KREISVERBAND</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scrollto" href="/#unser-team">UNSER TEAM</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">DIEBASIS</a>
								<div class="dropdown-menu dropdown-content dropdown-style">
									<a class="dropdown-item" href="/#about-us">über uns</a>
									<a class="dropdown-item" href="konsensieren">Systemisches<br>Konsensieren</a>
									<a class="dropdown-item" href="wirwollendich">Wir wollen...</a>
									<a class="dropdown-item" href="https://mitgliedsantrag.diebasis-partei.de/index.html" target="_blank">Mitglied werden<br>online</a>
									<a class="dropdown-item" href="https://diebasis-partei.de/wp-content/uploads/2020/09/Antrag-auf-Mitgliedschaft-2020-V006.pdf" target="_blank">Mitgliedsantrag<br>downloaden</a>
									<a class="dropdown-item" href="diebasisblog">Blog</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="geschichte.html">unsere Historie</a>
								</div>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">AG's</a>
								<div class="dropdown-menu dropdown-content dropdown-style">
									<a class="dropdown-item" href="arbeitsgruppen#ag-frieden">Frieden</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-presse">Presse</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-selbstversorgung">Selbstversorgung</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-bildung">Bildung</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-it">IT</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-konsensierung">Konsensierung</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-meditation">Meditation</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-landtagswahl2022">Landtagswahl</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link scrollto" href="kontakt">KONTAKT</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</section>

		<header>
			{% block header %}{% endblock %}
		</header>


		<main>
			{% block content %}{% endblock %}
		</main>

		<footer>
			{% block footer %}
				<section id="footer" class="footer">
					<footer class="footer-dark">
						<div class="container">
							<div class="row" style="margin-bottom: -16px;">
								<div class="col text-center mb-3">
									<h4>Spendenkonto</h4>
								</div>
							</div>
							<div class="row">
								<div class="col item text">
									<div>
										<p>per Banküberweisung<br><br>Basidemokratische Partei Deutschland<br>Kreisverband Diepholz<br><strong>IBAN:</strong>
											DE28 2505 0180 0910 5121 16<br><strong>BIC:</strong>&nbsp;SPKHDE2HXXX</p>
									</div>
								</div>
							</div>
							<div class="col item">
								<h3 class="footer-heading">WIR IM NETZ</h3>
								<div>
									<div class="col item social-media-icons">
										<a class="social-media-icons-padding" href="https://telegram.me/die_basis_funkt" target="_blank">
											<i class="fab fa-telegram"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<a href="/">
										<p class="copyright">dieBasis KV Diepholz-Nienburg © 2022</p>
									</a>
								</div>
								<div class="col">
									<div class="copyright text-start">
										<a class="me-1" href="impressum.html">Impressum</a>
										<a class="ms-1" href="datenschutz.html">Datenschutz</a>
									</div>
								</div>
							</div>
						</div>
					</footer>
				</section>
			{% endblock %}
		</footer>

		{% block javascripts %}
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
			<script src="/assets/js/bs-init.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
			<script src="/assets/js/clean-blog.js"></script>
			<script src="/assets/js/diebasis.js"></script>
			<script src="/assets/js/lightbox.js"></script>
		{% endblock %}
	</body>
</html>
