<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:url" content="https://www.diebasis-diepholz-nienburg.de">
		<meta property="site_name" content="Basisdemokratische Partei Deutschland | dieBasis Kreisverband Diepholz-Nienburg">
		<meta property="og:title" content="dieBasis | Kreisverband Diepholz-Nienburg">
		<meta property="og:type" content="website">
		<meta property="og:image" content="/assets/img/LogoNavbar.png">
		<meta property="og:image:alt" content="dieBasis - diebasis-diepholz-nienburg.de">
		{% block meta %}
			{% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            
        } %}
		{% endblock %}

		{% block style %}
			<link rel="icon" type="image/png" sizes="300x300" href="/assets/img/IconWeb.png">
			<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&amp;display=swap">
			<link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
			<link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
			<link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
			<link rel="stylesheet" href="/assets/css/Footer-Dark.css">
			<link rel="stylesheet" href="/assets/css/hover.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
			<link rel="stylesheet" href="/assets/css/lightbox.css">
			<link rel="stylesheet" href="/assets/css/Newsletter-Subscription-Form.css">
			<link rel="stylesheet" href="/assets/css/styles.css">
			<link rel="stylesheet" href="/assets/css/timeline.css">
			<link rel="stylesheet" href="{{ asset('assets/css/swiper-bundle.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/swiper-icons.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/Simple-Slider-Simple-Slider.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/sidebar.css') }}">
		{% endblock %}
	</head>
	<body>
		<section class="section-navbar-fixed" id="kopf">
			{#  #}
			<nav class="navbar navbar-light navbar-expand-md fixed-top diebasis-navbar">
				<div class="container-fluid">
					<a class="navbar-brand pt-0 pb-0" href="/">
						<div><img src="/assets/img/dieBasis-LOGO-kv-diepholz-nienburg.svg" style="width: 150px;"></div>
					</a>
					<button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2">
						<span class="visually-hidden">Toggle navigation</span>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navcol-2">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a class="nav-link active scrollto" href="/">HOME</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-nowrap" href="https://diebasis-niedersachsen.de" target="_blank">DER LANDESVERBAND NDS</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">DIEBASIS</a>
								<div class="dropdown-menu dropdown-content dropdown-style">
									<a class="dropdown-item" href="konsensieren">Systemisches<br>Konsensieren</a>
									<a class="dropdown-item" href="wirwollendich">Wir wollen...</a>
									<a class="dropdown-item" href="https://diebasis-partei.de/partei/mitgliedschaft" target="_blank">Mitglied werden<br>online</a>
									<a class="dropdown-item" href="https://diebasis-partei.de/wp-content/uploads/2022/01/2022-01-dieBasis-Antrag-auf-Mitgliedschaft-MA-BU_V01_0122_Mitgliedsantrag_DSE.pdf" target="_blank">Mitgliedsantrag<br>downloaden</a>
									<a class="dropdown-item" href="diebasisblog">Blog</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="warumdiebasis">Warum dieBasis</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/#about-us">Über uns</a>
									<a class="dropdown-item" href="timeline">Timeline</a>
								</div>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">AG's</a>
								<div class="dropdown-menu dropdown-content dropdown-style">
									<a class="dropdown-item" href="arbeitsgruppen#ag-frieden">Frieden</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-selbstversorgung">Selbstversorgung</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-it">IT</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-konsensierung">Konsensierung</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-meditation">Meditation</a>
									<a class="dropdown-item" href="arbeitsgruppen#ag-landtagswahl2022">Landtagswahl</a>
								</div>
							</li>
							<li class="nav-item"></li>
						</ul>
					</div>
				</div>
			</nav>
			{#  #}
		</section>
		<div>
			<header>
				{% block header %}{% endblock %}
			</header>
		</div>

		{% block swiper %}{% endblock %}
		<main>
			{% block content %}{% endblock %}
		</main>

		<footer>
			{% block footer %}{% endblock %}
		</footer>

		{% block javascripts %}
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
			<script src="/assets/js/bs-init.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
			<script src="/assets/js/clean-blog.js"></script>
			<script src="/assets/js/lightbox.js"></script>
			<script src="{{ asset('assets/js/swiper-bundle.min.js') }}"></script>
			<script src="{{ asset('assets/js/Simple-Slider.js') }}"></script>
		{% endblock %}
	</body>
</html>
